body {
  height: 2349px;
  width: 1600px;
  left: -1675px;
  top: -1175px;

  background: #ffffff;
}
span {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}
ul,
li {
  list-style-type: none;
}
.header_place {
}
.nav_place {
}
.webstudio_logo_txt {
}
.control_panel {
}
.link {
}
.header_coordinates {
}
.site_main {
}
