:root {
  --accent: #2196f3;
  --primary-bg-color: #fff;
  --secondary-bg: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --black: #000;
  --black-rock: #2f303a;
}
