:root {
  --text-color: #212121;
  --color-link: #2196f3;
  --color-tipe: #757575;
  --main-color: #ffffff;
  --color-font: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.logo_studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  font-style: normal;
--text-color: #212121;
  letter-spacing: 0.03em;
}
span {
  --color-link: #2196f3;
}
ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}
.header-adress {
  font-weight: 500;
  line-height: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.test-link:hover,
.header-adress:hover,
.besement-adress:hover,
.test-link:focus,
.header-adress:focus,
.besement-adress:focus {
  color: var(--color-link);
}
.test-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  letter-spacing: 0.02em;
}
.header-adress,
  color: var(--color-tipe);
}
.main-title {
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title {
  background-color: var(--color-font);
}
.main_section {
  color: var(--main-color);
  background-color: var(--color-link);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
.features-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-subject {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h2,
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.image_txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.03em;
}
.besement-adress {
  color: var(--main-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.besement_mail,
.besement_tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.besement_mail:hover,
.besement_tel:hover,
.besement_mail:focus,
.besement_tel:focus {
  color: var(--color-link);
}
.top-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.top-menu:hover,
.top-menu:focus {
  color: var(--main-color);
  background-color: var(--color-link);
}
.main_section,
.top-menu {
  cursor: pointer;
}
.hero {
  background-color: #f5f4fa;
}
.image_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.image_txt {
  color: var(--color-tipe);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.besement_contacts {
  background-color: var(--color-font);
}
.logo_studio {
--text-color: #212121;
}
